<section class="list-container section-buy">
    <div class="car-products satoshi">
        
    </div>

    <div class="line"></div>

    <div class="car-total satoshi">
        <h2>Total</h2>
        <hr> 
        <div class="subtotal light">
            <p>Envío</p>
            <b>-----</b>
        </div>
        <div class="subtotal light">
            <p>Subtotal</p>
            <b class="subtotal-car">$0</b>
        </div>
        <hr>
        <div class="total light">
            <p>Total</p>
            <b class="total-car">$0</b>
        </div>
        <button class="buy satoshi bold">SIGUIENTE</button>
        <div class="exit">
            <ion-icon name="chevron-back-outline"></ion-icon>
            <p>SEGUIR COMPRANDO</p>
        </div>
    </div>
</section>