<section class="payment-container section-buy">
    <form class="form-payment satoshi">
        <h2>Datos de pago</h2>
        <br><br>
        <label for="metodo_pago">Método de pago:</label>
        <select name="metodo_pago" id="metodo_pago" required>
        </select>
        <br><br><br>
        <div id="nequi_form" class="form" style="display: none;">
            <label for="numero_celular">Número de celular:</label>
            <input type="number" name="numero_celular" id="numero_celular" class="field">
            <br><br>
            <label for="documento">Documento:</label>
            <input type="number" name="documento_nequi" id="documento_nequi" class="field">
            <br><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="field">
            <br><br>
        </div>
        <div id="bancolombia_form" class="form" style="display: none;">
            <label for="numero_cuenta">Numero de cuenta:</label>
            <input type="number" name="numero_cuenta" id="numero_cuenta" class="field">
            <br><br>
            <label for="documento_bancolombia">Documento:</label>
            <input type="number" name="documento_bancolombia" id="documento_bancolombia" class="field">
            <br><br>
            <label for="nombre_titular">Nombre titular:</label>
            <input type="text" name="nombre_titular" id="nombre_titular" class="field">
            <br><br>
        </div>
        <br>
        <input type="submit" value="Siguiente" class="satoshi bold">
    </form>
</section>