<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('./partials/head.html') %>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body class="<%= pagina %>">
    <%- include('./partials/loader.html') %>

    <%- include('./partials/nav.html') %>

    <div class="form-container">
        <div class="image-form">
            <span class="logo bebas">Unitec</span>
            <h1 class="satoshi bold">Bienvenido de nuevo</h1>
            <canvas id="canvas-gradient" data-transition-in data-v-79abd109></canvas>
        </div>
        <div class="form_subcontainer satoshi">
            <div class="form_login">
                <h2 class="bold">Login</h2>
                <p class="phrase_l">Explora nuestra exclusiva colección de productos donde la calidad se fusiona con la innovación.</p>
                <form>
                    <label for="name_input_l">
                        Usuario
                        <input type="text" name="name_input_l" required>
                    </label>

                    <label for="password_input_l">
                        Contraseña
                        <input type="password" name="password_input_l" required>
                    </label>

                    <p class="f_password">Se te olvidó la contraseña?</p>

                    <input class="login_btn satoshi bold" type="button" value="Ingresar">

                    <p class="user_new_btn">Eres nuevo? <b>registrate</b></p>
                </form>
            </div>
            <div class="form_register disabled"></div>
        </div>
    </div>

    <%- include('./partials/footer.html') %>
</body>
</html>