.product-cartel{
    width: 100vw;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    padding: 100px;
    color: white;
    justify-content: end;
}

.product-cartel .title{
    color: white;
    font-size: 7em;
}

.product-cartel .phrase{
    font-size: 2em;
}

.products{
    width: 100%;
    min-height: 100vh;
    columns: 2 70vmin;
    column-gap: 30px;
    padding: 0 100px;
    margin-bottom: 100px;
}

.products .product{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}

.products .product hr{
    margin: 30px 0;
}

.products .product img{
    width: 100%;
    transition: 0.3s ease-in-out;
}

.products .product:hover img{
    transform: scale(1.2);
}

.products .product .description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =================PRODUCTO================= */

.product-container{
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.product-container .product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45vw;
    overflow: hidden;
}

.product-container .product-image img{
    height: 100%;
    width: auto;
}

.product-container .product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50vw;
}

#product-name{
    font-size: 5em;
}

#product-description{
    font-size: 1.5em;
    margin-top: 30px;
    margin-right: 20vw;
}

#product-addcard{
    font-size: 1em;
    margin-top: 50px;
    width: 15vw;
    height: 50px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
}