* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-collapse: inherit;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    background-color: rgb(18, 18, 18);
}

.loader{
    top: 0;
    position: fixed;
    z-index: 100;
    transition: 1s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.loader.active{
    opacity: 1;
}

.spinner {
    --gap: 5px;
    --clr: #ffffff;
    --height: 23px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.spinner span {
    background: var(--clr);
    width: 6px;
    height: var(--height);
    animation: grow 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
    animation: grow 1s ease-in-out 0.15s infinite;
}

.spinner span:nth-child(3) {
    animation: grow 1s ease-in-out 0.3s infinite;
}

.spinner span:nth-child(4) {
    animation: grow 1s ease-in-out 0.475s infinite;
}

@keyframes grow {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.8);
    }
}

/* LENIS */

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* FUENTES */

.satoshi {
    font-family: 'Satoshi', sans-serif;
}

.satoshi.light{
    font-weight: 100;
}

.satoshi.bold{
    font-weight: 900;
}

.bebas {
    font-family: 'Bebas Neue', sans-serif;
}